# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
*.log

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AWS local dev artifacts
*.zip
.aws-sam/
.lambda-build/
package/
build/

# Credentials
.env
*.pem
